<launch>
  <!-- One-command live mapping: sensors + conversion + LIO-SAM. -->
  <arg name="project_root" default="$(find vehicle_bringup)/../.."/>
  <arg name="map_module" default="site_a"/>
  <arg name="map_module_dir"
       default="$(eval arg('map_module') if len(arg('map_module')) > 0 and arg('map_module')[0].isalnum() and arg('map_module').replace('_','').replace('-','').isalnum() else 'INVALID_MAP_MODULE')"/>
  <arg name="map_config_file" default="$(arg project_root)/maps/$(arg map_module_dir)/module.yaml"/>
  <arg name="lidar_xyz" default="0 0 0"/>
  <arg name="lidar_ypr" default="0 0 0"/>
  <arg name="imu_xyz" default="0 0 0"/>
  <arg name="imu_ypr" default="0 0 0"/>
  <arg name="imu_time_offset_s" default="0.0"/>
  <include file="$(find vehicle_interface)/launch/io.launch">
    <arg name="use_map_config" value="true"/>
    <arg name="map_config_file" value="$(arg map_config_file)"/>
    <arg name="start_can" value="false"/>
    <arg name="bridge_publish_odom" value="false"/>
    <arg name="bridge_publish_tf" value="false"/>
    <arg name="bridge_publish_map_to_odom" value="false"/>
    <arg name="imu_xyz" value="$(arg imu_xyz)"/>
    <arg name="imu_ypr" value="$(arg imu_ypr)"/>
  </include>
  <include file="$(find pointcloud_preprocess)/launch/points_raw.launch">
    <arg name="lidar_xyz" value="$(arg lidar_xyz)"/>
    <arg name="lidar_ypr" value="$(arg lidar_ypr)"/>
  </include>
  <include file="$(find vehicle_bringup)/launch/lio_sam_mapping.launch">
    <arg name="imu_time_offset_s" value="$(arg imu_time_offset_s)"/>
  </include>
</launch>
